#search{
	text-align: center;
	margin-bottom: 50px;
}

#homebutton{
	margin-top: 10px;
	text-align: right;
}

#userinfo{
	text-align: left;
	color: white;
}

.choices{
	text-align: left;
	width: 50%;
}

#lyrics{
	text-align: center;
	color: white;
	margin: 5px;
}

.nextButton{
	margin: 10px;
}

.video{
	margin-top: 10px;
	text-align: center;
}

body {
	background-image: url("http://p1.pichost.me/i/20/1427031.jpg");
	background-size: cover;
	background-position: ;
	background-repeat: no-repeat; 
	padding: 10px 10px 1000px 10px;
}
.page{
	margin-top: 100px;
}
