#search{
	text-align: center;
	margin-bottom: 50px;
}

#homebutton{
	margin-top: 10px;
	text-align: right;
}

#userinfo{
	text-align: left;
}

.choices{
	text-align: left;
	width: 50%;
}

#lyrics{
	text-align: center;
	border: 2px solid whitesmoke;
	background-color: whitesmoke;
	margin: 5px;
}

.nextButton{
	margin: 10px;
}

.video{
	margin-top: 10px;
	text-align: center;
}