#search{
	text-align: center;
	margin-bottom: 50px;
}

#homebutton{
	margin-top: 10px;
	text-align: right;
}

#userinfo{
	text-align: left;
	color: white;
}

.choices{
	text-align: left;
	width: 50%;
}

#lyrics{
	text-align: center;
	color: white;
	margin: 5px;
}

.nextButton{
	margin: 10px;
}

.video{
	margin-top: 10px;
	text-align: center;
}

.page{
	margin-top: 80px;
}

#backgroundImg{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-image: url('http://p1.pichost.me/i/20/1427031.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200%;
    opacity: 0.6;
    z-index: -1;
    margin-top:	65px;
}

#title {
	color: white;
}
